\documentclass[conference]{IEEEtran}
\IEEEoverridecommandlockouts

\usepackage{cite}
\usepackage{amsmath,amssymb,amsfonts}
\usepackage{algorithmic}
\usepackage{graphicx}
\usepackage{textcomp}
\usepackage{xcolor}
\usepackage{hyperref}
\usepackage{booktabs}
\usepackage{url}
\usepackage{multirow}
\usepackage{array}
\usepackage{tabularx}
\usepackage{float}
\usepackage{lipsum}

\hypersetup{
    colorlinks=true,
    linkcolor=black,
    citecolor=black,
    urlcolor=blue,
    pdfborder={0 0 0}
}

\def\BibTeX{{\rm B\kern-.05em{\sc i\kern-.025em b}\kern-.08em
    T\kern-.1667em\lower.7ex\hbox{E}\kern-.125emX}}

\begin{document}

\title{(((title|latex_escape)))}

\author{
((*for author in authors*))
\IEEEauthorblockN{(((author|latex_escape)))}
\IEEEauthorblockA{
\textit{(((affiliation|latex_escape)))}\\
(((contact_email|latex_escape)))
}
((*if not loop.last*))
\and
((*endif*))
((*endfor*))
}

\maketitle

\begin{abstract}
(((abstract|latex_escape)))
\end{abstract}

\begin{IEEEkeywords}
(((keywords|join(', ')|latex_escape)))
\end{IEEEkeywords}

((*for section in sections*))
\section{(((section.title|latex_escape)))}
((*for paragraph in section.content*))
(((paragraph|latex_escape)))

((*endfor*))
((*if section.table*))
\begin{table}[h]
\centering
\caption{(((section.table.caption|latex_escape)))}
\label{tab:(((loop.index)))}
\begin{tabular}{(((section.table.columns)))}
\toprule
(((section.table.header|latex_escape))) \\
\midrule
((*for row in section.table.rows*))
(((row|latex_escape))) \\
((*endfor*))
\bottomrule
\end{tabular}
\end{table}
((*endif*))
((*if section.figure_caption*))
\begin{figure}[h]
\centering
\fbox{\parbox{0.45\textwidth}{\centering\vspace{1.5cm}\textit{(((section.figure_caption|latex_escape)))}\vspace{1.5cm}}}
\caption{(((section.figure_caption|latex_escape)))}
\label{fig:(((loop.index)))}
\end{figure}
((*endif*))
((*endfor*))

\section*{Acknowledgment}
The authors gratefully acknowledge the support of the institutions and research groups that contributed to this work. The authors also thank the anonymous reviewers for their insightful comments and constructive suggestions.

(((bibliography_block)))

\end{document}
